<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-flex align-items-center">
            <li class="nav-item active">
                <img src="{{foto}}" alt="Img" width="50px" height="50px"
                    class="img-fluid rounded-circle">
            </li>
            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white fs-16">Olá, {{nome}}</p>
            </li>
            <li class="nav-item pl-3">
                <a href="">
                    <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o" arial-hidden="true"></i></p>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 d-flex align-items-center">
            <li class="nav-item pl-3">
                <a (click)='sair()' class="m-0 font-weight-bold fs-16 ah">Sair <i class="fa fa-sign-out" arial-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav>